* {
  margin: 0;
}

.nasa-body {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
}

.des {
  position: absolute;
  bottom: 0;
  color: white;
}
h1 {
  margin-right: 10px;
}
.cons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cons:not(h1) {
  font-size: 1.4rem;
}
.info {
  cursor: pointer;
}
.description {
  position: absolute;
  top: 50%; /* Move down 50% of the container's height */
  left: 50%; /* Move right 50% of the container's width */
  transform: translate(
    -50%,
    -50%
  ); /* Offset by half the element's width and height to center */
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: whitesmoke;
}
